{% load static %}
<html lang="en">
    <head>
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         <!-- zmiana czcionki -->
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">
         <!-- załadowanie plików statycznych -->
         <title>Thewitcher's blog</title>
    </head>
    <body>
        <div class="page-header"> <!-- dodanie klasy -->
            <h1><a href="/">Thewitcher's blog</a></h1>
            {% if user.is_authenticated %} <!-- tag, który sprawia że link bedzie widoczny tylko dla zalogowanych uzytkownikow jako admin-->
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <!-- klasa glyphicon.. jest dostarczana prze zmotyw z bootstrapa ktorego uzywamy i wyswietli znak plus -->
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %} <!-- znacznik szablonu %block% zaznacza obszar który zostanie wstawiony HTML i bedzie pochodzil z innego szablonu -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>